<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">Videojuegos Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" color="medium">
  
  <ion-list class="dark-bg">

    <ion-item class="background" color="medium" *ngFor="let p of productos" [routerLink] = "['/productos', p.id ]">

        <ion-avatar slot="start">
          <ion-img [src]="p.imagenURL"></ion-img>
        </ion-avatar>

        <ion-label>{{p.nombre}}</ion-label>

      </ion-item>

  </ion-list>

  <ion-fab vertical = "bottom" horizontal = "end" slot = "fixed">
    <ion-fab-button color = "dark" (click)="RedirectAgregar()">
      <ion-icon name="medkit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical = "bottom" horizontal = "start" slot = "fixed">
    <ion-fab-button color = "dark" (click)="volverHome()">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
