<ion-header>
  <ion-toolbar color="dark">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos"></ion-back-button>
    </ion-buttons>

    <ion-title>Modificar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Ingrese el Nombre" [(ngModel)]="datos.nombre" #nombre></ion-input>
          <ion-input type="text" placeholder="Ingrese la URL de Imagen" [(ngModel)]="datos.imagenURL" #url></ion-input>
          <ion-input type="text" placeholder="Ingrese el año de salida" [(ngModel)]="datos.anio" #anio></ion-input>
          <ion-input type="text" placeholder="Ingrese el Género del Juego" [(ngModel)]="datos.genero" #genero></ion-input>
          <ion-input type="text" placeholder="Ingrese la desarrolladora" [(ngModel)]="datos.desarrolladora" #desarrolladora></ion-input>
          <ion-input type="number" placeholder="Ingrese el precio" [(ngModel)]="datos.precio" #precio></ion-input>
          <ion-input type="text" placeholder="Ingrese un comentario" [(ngModel)]="datos.comentarios" #comentario></ion-input>
          <ion-button color = "dark" (click)="actualizarProducto(nombre,url,anio,genero,desarrolladora,precio,comentario)"> Actualizar </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
