<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Agregar Videojuego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" color="dark">

  <ion-row>
    <ion-col>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="Ingrese el Nombre" #nombre></ion-input>
        </ion-item>
        <!-- <ion-input type="file" accept="image/*" [(ngModel)]="imageFilePath" (change)="capturarImagen($event)"></ion-input> -->
        <ion-item>
          <ion-input type="number" placeholder="Ingrese el año de salida" #anio></ion-input>
        </ion-item>
        
         <ion-item>
          <ion-input type="text" placeholder="Ingrese el Género del Juego" #genero></ion-input>
         </ion-item>

         <ion-item>
            <ion-label>
              Disponible?
             <ion-checkbox #disponible></ion-checkbox>
            </ion-label>
         </ion-item>
        
         <ion-item>
           <ion-radio-group #favorito>
            <ion-label>Favorito</ion-label>
           

            <ion-item>
              <ion-label>Si</ion-label>
              <ion-radio slot="start" value="Si"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="No"></ion-radio>
            </ion-item>
          </ion-radio-group>
         </ion-item>

         <ion-item>
          <ion-input type="text" placeholder="Ingrese la desarrolladora" #desarrolladora></ion-input>
         </ion-item>
        
         <ion-item>
          <ion-input type="number" placeholder="Ingrese el precio" #precio></ion-input>
         </ion-item>
        
         <ion-item>
          <ion-textarea type="text" placeholder="Ingrese un comentario" #comentario></ion-textarea>
         </ion-item>
        
         <ion-item>
          <ion-input type="text" placeholder="Ingrese la URL de Imagen" #url></ion-input>
         </ion-item>

        <!-- TODO
        Como guardar valores correctamente en #clasificacion
         -->
        
         <ion-item>
          <ion-select placeholder="Ingrese clasificacion" [compareWith]="compareWith" #clasificacion>
            
            <ion-select-option *ngFor="let c of clasi" [value]="c.siglas" >{{c.siglas}} ({{c.descripcion}})</ion-select-option>
            
          </ion-select>
         </ion-item>

        <ion-button color = "warning" (click)="agregarProducto(nombre,anio,genero,desarrolladora,precio,comentario,url, clasificacion, favorito, disponible)"> Agregar </ion-button>

        
      </ion-card-content>
    </ion-col>
  </ion-row>

</ion-content>
